body {
    margin: 100px;
    padding: 50px;
    text-align:center;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-size: cover;
    text-decoration: none;
    line-height: 100px;
    background-color: bisque
}

header {
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color:white;
    background-size: cover;
    text-decoration: none;
}

a {
    text-decoration: none;
}

Footer {
    background-color: #FF9B73;
    padding-top: 25px;
    padding-bottom: 250px;
    text-align: center;
    }
