body {
    margin: 0;
    padding: 0;
    background-color: bisque;
}

header {
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color:#FFFFFF;
    background-size: cover;
}

a {
    text-decoration: none;
}

#circle {
    margin-left: 700px;
    margin-right: 600px;
    width: 500px;
    height: 500px;
    border: dashed black;
    border-radius: 50%;
    border-width: 2px;
    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(5deg);
        
    }
}

.text {
    margin-left: 115px;
    margin-top: 240px;
}

Footer {
    background-color: #FF9B73;
    padding-top: 25px;
    padding-bottom: 250px;
    text-align: center;
    }