body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color:#FFFFFF;
    background-size: cover;
}

a {
    text-decoration: none;
}

body {
    align-items: center;
    justify-content: center;
    height: 500px;
    background-color:#0039A6 ;
    background-size: cover; 
}

Footer {
    background-color: #D52B1E;
    padding-top: 25px;
    padding-bottom: 250px;
    text-align: center;
}

p {
    color:black ;
}

#TrafficLight1 {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid #000;
    border-radius: 50%;
    background: black;
}

#TrafficLight2 {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 10px solid #000;
    background: black;
}

#TrafficLight3 {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 10px solid #000;
    background: black;
}